/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/* @mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }

        ; //600px
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }

        ; //900px
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }

        ; //1800px
    }
}*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Lato', sans-serif; }

html {
  font-size: 62.5%;
  padding: 3rem;
  scroll-behavior: smooth;
  background-color: #fff; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #f2f2f2; }

.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 1rem; }
  .heading-primary-main {
    display: block;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
    font-family: 'Indie Flower', sans-serif; }
    .heading-primary-main-name {
      font-size: 6rem;
      font-family: 'Caveat', sans-serif;
      letter-spacing: 1rem; }
  .heading-primary-sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    font-family: 'Indie Flower', sans-serif; }

.heading-secondary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  color: #5D5FEF; }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 85vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 6rem;
    width: 6rem;
    background-color: #E3E9F6;
    border-radius: 50%; }
  .header__logo {
    position: absolute;
    left: 1rem;
    font-size: 3.5rem;
    font-family: 'Caveat', sans-serif;
    font-weight: 600;
    color: #5D5FEF; }
  .header__img {
    position: absolute;
    top: 10%;
    left: 60%;
    height: 60rem;
    width: 60rem;
    color: #5D5FEF; }
  .header__text-box {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%); }

.header {
  font-size: 4rem; }
