.header {
    width: 100%;
    padding: 0 10rem;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;

    &-textbox {
        position: relative;
        max-width: 60rem;
        z-index: 1;
        margin-right: 2rem;
        grid-column: 1/2;
        justify-self: start;
        align-self: center;
    }

    &-img{
        height: 60rem;
        width: 60rem;
        justify-self: end;
    }
}