.section-skills{
    position: relative;
    width: 100%;
    padding: 0 10rem;
}
.skill{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;

    &-content{
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr repeat(2, 1fr);
        grid-row-gap: 2rem;

        &-card{
            padding: 0.5rem 1rem;
            background-color: var(--background);
            box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
            text-align: right;
        }
    }

    &-img{
        grid-area: 1 / 2 / 2 / 3;
        &-content{
            width: 100%;
            height: 100%;
            // justify-self: end;
            // align-self: center;
        }
        
    }
}