//Colors
$color-primary-main: #5D5FEF;
$color-primary-light-1: #636Cff;
$color-primary-light-2: #E3E9F6;

$color-background-light: #f2f2f2;
$color-background-dark: #403b4d;

$color-gray-light: #f7f7f7;
$color-gray-dark: #333;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;