.form {
    &__group:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        color: var(--black);
        background-color: var(--grad-2);
        border: none;
        font-family: inherit;
        border-bottom: 3px solid transparent;
        width: 50%;
        display: block;
        transition: all 0.2s;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.1);
            border-bottom: 3px solid var(--primary);

            &:invalid {
                border-bottom: 3px solid #ff7730;
            }
        }

        &::placeholder{
            color: var(--primary);
        }

        &::-webkit-input-placeholder {
            color: var(--primary);
        }
    }

    &__label {
        color: var(--primary);
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.2s;
    }

    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__textarea{
        resize: none;
        color: var(--black);
    }

    &__textarea:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}