.mode-switch{
    position: absolute;
    top: 0%;
    right: 3rem;
    display: flex;
    font-size: 2rem;

    @include respond(tab-land){
        top: 7%;
        right: 12rem;
    }

    @include respond(tab-port) {
        top: 6%;
    }

    @include respond(phone) {
        top: 4%;
    }
}