.dark {
    --background: #2f2b33;
    --card: #3a363f;
    --primary: #b9c6e2;
    --secondary: #b9c6e2;
    --black: #fff;
    --white: #000;
    --grey: #272727;
    --grad: rgba(58, 54, 63, 0.9);
    --grad-2: #2f2b33cc;
    --nav: #41394a;
}