.section-about {
    background-color: var(--background);
    margin-top: 10vh;
}

.section-skills {
    background-color: var(--background);
    margin-top: 10vh;
}

.section-projects{
    background-color: var(--background);
    margin-top: 10vh;
    
    a.btn {
        justify-content: center;
    }
}