:root {
    --background: #f2f2f2;
    --card: #f7f7f7;
    --primary: #5d5fef;
    --secondary: #636Cff;
    --toggler: #b8b9f0;
    --white: #fff;
    --black: #000;
    --grey: #444;
    --grad: rgba(242, 242, 242, 0.9);
    --grad-2: #f2f2f2cc;
}